body {
    margin: 0;
    background-color: #050505;
    background-image: url('/static/img/page.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex; /* Transforma o body em um contêiner flex */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    position: relative; /* Necessário para posicionar elementos absolutamente dentro dele */

}
        img {
            width: 20%;
            height: auto;
            margin-top: 20px;
        }
        .text1{
            color: #f4f3f5;
        }

        

        .gradient-border-login {
        border-radius: 50px;
        padding: 2px; 
        background: linear-gradient(90deg, #facc15, #f916c0, #a069e9);
        display: inline-block;
        }
        /* Input inside gradient border */
        .gradient-border-login, input.form-control {
        border-radius: 50px;
        height: -10px;
        margin-bottom: auto;
        border: none;
        background-color: #12111f;
        color: rgb(250, 249, 249);
        }
        .gradient-border-login, input.form-control::placeholder {
        color: #d1d5db;
        opacity: 1;
        width: 80%;
        }

        input.form-control:hover {
        background-color: #12111f;
        color: #fffdfd;
        box-shadow: 0 0 5px #facc15, 0 0 2px #f916c0, 0 0 15px #a069e9;
        outline: none;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            gap: 10px;
        }
        .login-pagina {
            position: relative;
            z-index: 1;
            width: 480px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
        }
        .logo-img {
            display: block;
            margin: 0 auto;
        }

        h2 {
            color: #fcfbf8;
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .btn {
            width: 80%;
            height: 40px; /* Ajuste conforme necessário */
            border: 2px solid #facc15; /* Escolha uma cor que combine */
            border-radius: 50px !important; /* Para seguir o estilo dos inputs */
            background-color: #12111f;
            color: #fff;
            font-size: 16px;
            transition: 0.3s;
        }

    .btn:hover {
        background-color: #facc15;
        color: #12111f;
        box-shadow: 0 0 5px #f916c0, 0 0 2px #a069e9, 0 0 15px #facc15;
    }


    #particles-js {
    position: fixed; 
    width: 100%;
    height: 100%;

    z-index: 1; 
    }

    
    .container {
        position: relative; 
        z-index: -1;
        
    }

    .roda-pe {
        margin-top: 20px;
        color: #e2e1da;
        font-size: 14px;
        text-align: center;
        text-align: center;
        align-items: center;
        
    }

    .copy {
        width: 1%;
        display: inline-block;
        margin: 0 auto;
        margin-right: 2px;
        vertical-align: middle;
        height: auto;

    }

   .container {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro exato */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Mantenha abaixo do formulário */
}
    .container i{
        position: absolute;
        inset: -5px;
        border: 2px solid #fcfbf8;
        transition: .5s;
        z-index: 1;
    }
